{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "targets": {
        // https://jamie.build/last-2-versions
        "browsers": ["last 5 Firefox versions"]
      }
    }]
  ]
}
